/* Hoja de estilo que controla la apariencia de la información*/

body
{
	text-align: center;
	font-size: 40px;
font-family: 'Mansalva', cursive;
	color: white;
  background: linear-gradient(214deg, #F477C3, #6262e2 54%, #91EEFE);
  color: #fff;

}




